@font-face {
    font-family: "MyriadPro-Light";
    font-weight: 100;
    src: url("fonts/MyriadPro-Light.woff") format("woff");
    font-family: "MyriadPro";
    src: url("fonts/MyriadPro-Regular.woff") format("woff");
}
p.customfont {
    font-family: "MyriadPro", sans-serif;
}
html
body{
  margin:0;
  /* padding-top: 20px;
  padding-bottom: 20px; */
  height: 100vh;
  width: 100%;
  background: radial-gradient(#0690cf, #00609c);
  font-family: "MyriadPro-Light", 'PT Sans', sans-serif;
}
.content-section  {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
#logo-tag {
    height: 160px;
}

/* On screens that are less than 500px, shrink width & height to 80% */
@media screen and (max-width: 499px) {
  #logo-tag {
      content: url("../assets/SonoSim_Logo_white.png");
      height: 90px;
  }
  section.content-section  {
      padding-top: 1rem;
      padding-bottom: 1rem;
  }
}

#sidebar-wrapper.active {
    background-color: #0090d0;
}
.grow img{
transition: 0.7s ease;
}

.grow img:hover{
-webkit-transform: scale(1.1, 1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
transition: 0.3s ease;
}

a:link, a:visited {
    /* background-color: transparent; */
    color: white;
    /* padding: 14px 25px; */
    /* text-align: center; */
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-in;
}
